@media screen and (max-width:500px) {
    .uk-container {
        width: 100%;
        padding: 0;

    }
    .tm-header-menu-container {
        & > .uk-container {
            margin: 0;
        }
    }
    .tm-nav-container {
        display: none;
    }
    header {
        width: 100%;
    }
    figure {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin: 0;
        float: left;
        height: 17%;
    }
    .tm-welcome-slider {
        display: none;
    }


    .tm-img-container {
        margin-top: 25px;
        width: 100%;
        position: relative;
        height: 1000px;
        & > figure {
            width: 80%;
            position: relative;
            margin-left: 12%;
            margin-top: 20px;
        }
    }

    .tm-img-text-container1 {
         & > p {
             & > a {
                 font-size: 25px;
             }
         }
         & > h1 {
             margin-left: 0px;
         }
    }
    .tm-img-text-container2 {
        & > p {
            & > a {
                font-size: 25px;
            }
        }
    }
    .tm-img-text-container3 {
        & > p {
            & > a {
                font-size: 25px;
            }
        }
    }

    .tm-events-container {
        width: 100%;
    }
    .tm-text-info-container {
        width: 100%;
    }

    footer {
        height: 550px;
    }

    .tm-footer-1-3 {
        width: 100%;
        padding-left: 0px;
        text-align: center;
        margin: 0 0 0 20;
    }
    .tm-footer-item2 {
        width: 100%;
        text-align: center;
        margin: 50 0 50 20;
        padding: 20 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .tm-main-footer {
        text-align: center;
    }
    .tm-nav-container {
        display: none;
    }
    .tm-service-times {
        padding-left: 0px;
    }
    .tm-connect-us {
        padding-left: 0px;
    }
    .tm-footer-container2 {
        margin-top: 10px;
        padding-left: 0px;
        & > .tm-service-time {
            margin-bottom: 30px;
        }
        & > .tm-item2-footer-container2 {
            text-align: center;
        }
        & > .tm-item3-footer-container2 {
            text-align: center;
        }
    }
}
// adaptive-menu
@media screen and (max-width:800px) {
    ul.topnav {
        position: relative;
        float: left;

    }

    .tm-nav-container {
        display: none;
    }

    .tm-list-item-menu {
        color:black;
    }

    .tm-nav-container ul {
        width: 100%;
    }
    .topnav li:not(.responsive) {
        display: none;
    }
    .topnav {
        width: 100%;
    }
    .icon {
        position: relative;
        width: 100%;
    }
    .topnav li.icon {
        float:right;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }
}
// adaptive menu end
@media screen and (max-width:800px) {
    .uk-container {
        // margin: 0 70;
    }
    header, main, footer {
        width: 100%;
    }
    header {
        // min-height: 300px;
        // width: 100%;
        // margin-bottom: 50px;
    }
    figure {
        width: 100%;
        position: relative;
        overflow: hidden;
        margin: 0;
        float: left;
    }
    .tm-welcome-slider {
        display: none;
    }

    .tm-img-container {
        margin-top: 50px;
        width: 100%;
        position: relative;
        height: 205%;
        & > figure {
            width: 80%;
            position: relative;
            margin-left: 12%;
            margin-top: 20px;
        }
    }

    .tm-events-container {
        width: 100%;
    }
    .tm-text-info-container {
        width: 100%;
        padding-left: 20px;
    }

    .uk-width-1-3 {
        width: 100%;
        margin-bottom: 20px;
    }

    .tm-card1 {
        height: 400px;
        & > .tm-img-text-container1 {
            padding: 0px;
            & > h1 {
                font-size: 70px;
                text-align: center;
                margin-bottom: 100px;
            }
            & > p {
                font-size: 30px;
                width: 100%;
                margin-left: 0px;
            }
        }
    }
    .tm-card2 {
        height: 400px;
        & > .tm-img-text-container2 {
            padding: 0px;
            & > h1 {
                font-size: 70px;
                text-align: center;
                margin-bottom: 100px;
            }
            & > p {
                font-size: 30px;
                width: 100%;
                margin-left: 0px;
            }
        }
    }
    .tm-card3 {
        height: 400px;
        & > .tm-img-text-container3 {
            padding: 0px;
            & > h1 {
                font-size: 70px;
                text-align: center;
                margin-bottom: 100px;
            }
            & > p {
                font-size: 30px;
                width: 100%;
                margin-left: 0px;
            }
        }
    }

    footer {
        height: 400px;
    }

    .tm-footer-1-3 {
        width: 100%;
        padding-left: 0px;
        text-align: center;
        margin: 0 0 0 20;
    }
    .tm-footer-item2 {
        width: 100%;
        text-align: center;
        margin: 50 0 50 20;
        padding: 20 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .tm-main-footer {
        text-align: center;
    }
    .tm-footer-container2 {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        padding: 20 0;
		& > .tm-service-times {
			& > h1 {
				text-align: center;
			}
		}
		& > .tm-item2-footer-container2 {
			text-align: center;
		}
		& > .tm-item3-footer-container2 {
			text-align:center;
		}
	}
    .tm-icons-footer-container {
        display: flex;
        justify-content: center;
        & > .tm-footer-icon-button2 {
            margin: 0 20;
        }
        & > .tm-footer-icon-button4 {
            margin: 0 20;
        }
    }
}

@media screen and (max-width:900px) {
    .tm-welcome-slider {
        & > div  {
            width: 70%;
            font-size: 28px;
        }
    }
    .topnav {
        font-size: 15px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    nav {
        padding-bottom: 10px;
        & > .topnav {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            & > .tm-nav-list-item2 {
                margin: 0 10px;
            }
            & > .tm-nav-list-item4 {
                margin: 0 10px;
            }
        }
    }

    h1 {
        font-size: 20px;
        text-align: center;
    }
    header {
        // height: 500px;
        // margin-bottom: 0px;
    }
    figcaption {
        margin-bottom: 53px;
        font-size: 35px;
    }
    .tm-img-text-container1 {
        padding: 20 0 0 0;
        & > h1 {
            font-size: 30px;
            margin-right: 0px;
            text-align: center;
        }
        & > p {
            margin: 0;
            & > a {
                font-size: 13px;
            }
        }
    }
    .tm-img-text-container2 {
        padding: 20 0 0 0;
        & > h1 {
            margin-right: 0px;
            font-size: 28px;
            text-align: center;
        }
        & > p {
            margin: 0;
            & > a {
                font-size: 13px;
            }
        }
    }
    .tm-img-text-container3 {
        padding: 20 0 0 0;
        & > h1 {
            font-size: 30px;
            margin-right: 0px;
            text-align: center;
        }
        & > p {
            margin: 0;
            & > a {
                font-size: 13px;
            }
        }
    }

    .tm-link-img-container1  a {
        font-size: 15px;
    }

    .tm-link-img-container2  a {
        font-size: 15px;
    }
    .tm-link-img-container3  a {
        font-size: 15px;
    }
    .tm-item2-footer {
        font-size: 13px;
    }

    .tm-footer-icon-button {
        margin: 0 5px;
    }
    .tm-footer-item2 {
        & > div:nth-child(3) {
        padding-left: 20px;
        }
        & > .tm-item2-footer {
            text-align: center;
        }
    }
    .tm-item2-footer-container2 {
        font-size: 21px!important;
        padding-left: 0px;
    }
    .tm-footer-container2 {
        padding-left: 20px;
    }

}

@media screen and (max-width:1150px) {
    .tm-welcome-slider {
        & > div {
            width: 60%;
        }
    }
    .tm-logo-container {
        & > img {
            width: 220px;
        }
    }
    .tm-img-text-container1 {
        padding: 20 0 0 0;
        & > h1 {
            font-size: 35px;
            margin-right: 0px;
            text-align: center;
        }
        & > p {
            margin: 0;
            & > a {
                font-size: 15px;
            }
        }
    }
    .tm-img-text-container2 {
        padding: 20 0 0 0;
        & > h1 {
            margin-right: 0px;
            font-size: 33px;
            text-align: center;
        }
        & > p {
            margin: 0;
            & > a {
                font-size: 15px;
            }
        }
    }
    nav {
        padding-bottom: 10px;
        & > .topnav {
            width: 100%;
            & > .tm-nav-list-item2 {
                margin: 0 20px;
            }
            & > .tm-nav-list-item4 {
                margin: 0 20px;
            }
        }
    }
    .topnav {
		& > .tm-nav-list-item2 {
			margin:0px 10px;
		}
		& > .tm-nav-list-item4 {
			margin:0px 10px;
		}
	}
    .tm-img-text-container3 {
        padding: 20 0 0 0;
        & > h1 {
            font-size: 35px;
            margin-right: 0px;
            text-align: center;
        }
        & > p {
            margin: 0;
            & > a {
                font-size: 15px;
            }
        }
    }


    h1 {
        font-size: 22px;
        text-align: center;
    }
    header {

    }
    figcaption {
        margin-bottom: 53px;
        font-size: 35px;
    }

    .tm-link-img-container1  a {
        font-size: 15px;
    }

    .tm-link-img-container2  a {
        font-size: 15px;
    }
    .tm-link-img-container3  a {
        font-size: 15px;
    }
    .tm-item2-footer {
        font-size: 13px;
    }

    .tm-footer-icon-button {
        margin: 0 5px;
    }
    .tm-footer-item2 {
        & > div:nth-child(3) {
        padding-left: 20px;
        }
        & > .tm-item2-footer {
            text-align: center;
        }
    }

}
